{% extends "base.html" %}

{% block title %}What's Here?!{% endblock %}

{% block main %}
<meta name="viewport" content="width=420" />
<h2>Artifacts near you</h2>
<ul id="results"></ul>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <article>
      <p>Finding your location: <span id="status">checking...</span></p>
    </article>
<script>
function success(position) {
  // On success, hit up the lookup url with the coordinates and
  // let's get back some json data with artifacts near here.
  var s = document.querySelector('#status');
  var max_length = 7
  lat = position.coords.latitude.toString().replace('.','').substring(0,max_length);
  lng = position.coords.longitude.toString().replace('.','').substring(0,max_length);
  
  
  if (s.className == 'success') {
    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
    return;
  }
  
  s.innerHTML = "found you!";
  s.className = 'success';
  
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcanvas';
  mapcanvas.style.height = '400px';
  mapcanvas.style.width = '600px';
    
  document.querySelector('article').appendChild(mapcanvas);
  
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  var myOptions = {
    zoom: 14,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
  
  var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
  });

  $.ajax({
	  url: "{% url 'whats_here' %}"+lat+"/"+lng,
	  cache: false,
	  success: function(artifacts){
                results = artifacts
                $.each(artifacts, function() {
		  alat=this.fields.lat_long.split(',')[0];
                  alng=this.fields.lat_long.split(',')[1];
		  console.log('LatLng: ');
		  console.log(alat); console.log(alng);
                  $("#results").append("<li id='artifact-"+ this.fields.id +"'>"+ this.fields.title+"<p><img src={{MEDIA_ROOT}}"+this.fields.image+" /></p></li>");
		  console.log(google.maps.LatLng(alat, alng));
                  var artifact = new google.maps.Marker({
			position: google.maps.LatLng(alat, alng),
			map: map,
			title: this.fields.title
                  });
                })
	  }	
  });
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}
</script>
{% endblock %}

